/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--HEADER_INDEX);
    width: 100%;
    background-color: transparent;
    mix-blend-mode: difference;
  }
  
  .header__inner {
    padding-inline: 24px;
    padding-block: 20px;
    background: rgba(100,100,100,0.3);
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    width: 18px;
    height: 22px;
    z-index: var(--BUTTON_INDEX);
  }
  
  .header__button {
    position: relative;
    z-index: var(--BUTTON_INDEX);
    color: var(--white);
    font-size: 1.2rem;
  }
  
  .header__close {
    display: none;
  }
  
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100dvh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: var(--NAV_INDEX);
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition-property: opacity, visibility;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }
  
  .header__list {
    margin-bottom: 46px;
  }
  
  .header__item:not(:last-of-type) {
    margin-bottom: 14px;
  }
  
  .header__link {
    display: flex;
    overflow: hidden;
    opacity: 0;
    color: var(--white);
  }
  
  .header__wrapper {
    display: inline-flex;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.3s cubic-bezier(0.22, 1, 0.36, 1) 0.3s;
  }
  
  .header__text {
    display: inline-block;
    margin-right: 6px;
    font-size: 4.8rem;
    font-family: var(--main-font);
    letter-spacing: 0.03em;
  }
  
  .header__number {
    display: inline-block;
    margin-top: 8px;
  }
  
  .bg {
    height: 100dvh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: var(--BG_INDEX);
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition-property: opacity, visibility;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }
  
  .is-open .header__nav {
    opacity: 1;
    visibility: visible;
  }
  
  .is-open .header__link {
    opacity: 1;
  }
  
  .is-open .header__wrapper {
    opacity: 1;
    transform: translateY(0);
  }
  
  .is-open .header__menu {
    display: none;
  }
  
  .is-open .header__close {
    display: block;
  }
  
  .is-open .bg {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 768px) {
    .header__inner {
      padding-inline: 66px;
      padding-block: 40px;
    }
  
    .header__logo {
      width: 26px;
      height: 31px;
    }
  
    .header__button {
      display: none;
    }
  
    .header__nav {
      opacity: 1;
      visibility: visible;
      position: relative;
      width: auto;
      padding: 0;
      background-color: transparent;
    }
  
    .header .sns-list {
      display: none;
    }
  
    .header__list {
      display: flex;
      margin-bottom: 0;
    }
  
    .header__item:not(:last-of-type) {
      margin-right: 60px;
      margin-bottom: 0;
    }
  
    .header__link {
      position: relative;
      padding: 8px;
      overflow: visible;
      opacity: 1;
    }
  
    .header__link::after {
      position: absolute;
      content: "";
      left: 8px;
      bottom: 2px;
      width: calc(100% - 16px);
      height: 1px;
      background-color: var(--white);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s cubic-bezier(0.19, 0.61, 0.36, 1);
    }
  
    .header__link:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  
    .header__wrapper {
      display: inline-flex;
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
  
    .header__text {
      margin-right: 0;
      font-size: 1.4rem;
      font-weight: 300;
      font-family: var(--sub-font);
    }
  
    .header__number {
      display: none;
    }
  }
  
  
  /* footer */
  .footer {
    padding-bottom: 30px;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
  }
  
  .footer__inner {
    position: relative;
    z-index: var(--FOOTER_INDEX);
    padding-inline: 30px;
  }
  
  .footer__container {
    padding-top: 22px;
    border-top: 1px solid var(--gray);
  }
  
  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .footer__button {
    font-size: 1.2rem;
  }
  
  .footer__link {
    color: var(--white);
  }
  
  .footer__copyright {
    text-align: center;
    color: var(--gray);
  }
  
  @media (min-width: 768px) {
    .footer {
      padding-bottom: 40px;
    }
  
    .footer__inner {
      padding-inline: 64px;
    }
  
    .footer__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }
  
    .footer__block {
      margin-bottom: 0;
    }
  
    .footer__button {
      margin-left: 80px;
      font-size: 1.4rem;
      font-weight: 300;
    }
  
    .footer__link {
      transition: opacity 0.3s ease-out;
    }
  
    .footer__link:hover {
      opacity: 0.6;
    }
  
    .footer__copyright {
      text-align: left;
    }
  }