/*particles*/
canvas{
	position:fixed;
	top:0;
	right:0;
	z-index:-1;
}

/* mainvisual */
.mainvisual {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainvisual__inner {
  width: 60%;
  margin-inline: auto;
}

.mainvisual__wrapper {
  display: block;
  -webkit-clip-path: inset(0 0 0em);
  clip-path: inset(0 0 0em);
}

.mainvisual__copy {
  margin-top: 40vh;
  font-family: var(--main-font);
  letter-spacing: 0.05em;
}

.mainvisual__copy01 {
  margin-bottom: 6px;
}

.mainvisual__copy01 {
  margin-left: 30%;
  font-size: 14vw;
}

.mainvisual__copy02 {
  font-size: 13.86666vw;
}

.mainvisual__wrapper:last-of-type {
  text-align: right;
}

.mainvisual__scroll {
  position: absolute;
  left: 8vw;
  bottom: -35.33333vw;
  font-size: 1.2rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .mainvisual__inner {
    margin-inline: auto;
    padding-inline: 0;
    max-width: 75vw;
  }

  .mainvisual__copy01 {
    margin-bottom: 10px;
  }

  .mainvisual__copy01 {
    margin-right: 20%;
    font-size: 8vw;
  }

  .mainvisual__copy02 {
    font-size: 8.61111vw;
  }

  .mainvisual__scroll {
    left: auto;
    bottom: 14px;
    font-size: 1.4rem;
  }
}

/* profile */
.profile {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: var(--dark-gray);
  color: var(--white);
}

.profile__inner {
  padding-inline: 30px;
}

.profile__container {
  display: flex;
  flex-direction: column;
}

.profile__images {
  position: relative;
  order: -1;
  margin-bottom: 90px;
  margin-left: -30px;
}

.profile__image {
  width: 85%;
  overflow: hidden;
  opacity: 0;;
  transition: opacity 1.2s ease;
}

.profile__image.is-show{
  opacity: 1;
}

.profile__image img {
  transform: scale(1.2);
  transition: transform 1.2s ease;
}

.profile__image.is-show img {
  transform: scale(1);
}

.profile__name {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1.6rem;
}

.profile__description {
  margin-bottom: 44px;
  font-size: 1.3rem;
  line-height: 2;
}

.profile__button-wrapper {
  margin-top: 20px;
  margin-bottom: 90px;
  text-align: right;
}

.profile__button {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 10px;
  color: var(--black);
  font-size: 1.6rem;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}

.profile__button::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.19, 0.77, 0.29, 1.05);
}

.profile__button-text {
  color: var(--white);
  margin-right: 16px;
}

.button-arrow {
  position: relative;
  width: 20px;
  height: 12px;
  overflow: hidden;
}

.button-arrow::before, .button-arrow::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/profile/angle-right-solid.svg);
  background-size: contain;
}

.button-arrow::before {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.4s, opacity 0.3s 0.2s;
  transition-timing-function: ease-in-out;
}

.button-arrow::after {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.4s, opacity 0.3s;
  transition-timing-function: ease-in-out;
}

@media (min-width: 768px) {
  .profile {
    padding-top: 120px;
    padding-bottom: 160px;
  }

  .profile__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .profile__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .profile__block {
    width: 65%;
  }

  .profile__images {
    position: relative;
    order: -1;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 8%;
    width: 35%;
  }

  .profile__images::before {
    right: -52px;
    bottom: -52px;
    width: 124px;
    height: 124px;
  }

  .profile__images::after {
    left: 30px;
    bottom: -30px;
    width: 100%;
  }

  .profile__image {
    width: 100%;
  }

  .profile__name {
    margin-bottom: 38px;
    text-align: left;
    font-size: 1.8rem;
  }

  .profile__description {
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 2.6;
  }

  .profile__button-wrapper {
    margin-top: 54px;
    margin-bottom: 0;
  }

  .profile__button {
    padding-block: 16px;
    font-size: 2.0rem;
  }

  .profile__button-text {
    margin-right: 40px;
  }

  .button-arrow {
    width: 30px;
    height: 18px;
  }

  .profile__button:hover::after {
    transform: scaleX(0);
    transform-origin: right;
  }

  .profile__button:hover .button-arrow::before {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
  }

  .profile__button:hover .button-arrow::after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.4s, opacity 0.3s 0.2s;
    transition-timing-function: ease-in-out;
  }
}


/* activities */
.activities {
  padding-top: 80px;
  padding-bottom: 132px;
  background-color: var(--bg-color);
}

.activities__inner {
  padding-inline: 30px;
}

.activities__item {
  position: relative;
}

.activities__item{
  margin-bottom: 120px;
}

.activities__item:last-of-type {
  margin-bottom: 0px;
}

.activities__sub-heading {
  padding-bottom: 18px;
  transition-delay: 0.3s;
}

.activities__line {
  display: inline-block;
  position: relative;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1.3s cubic-bezier(0.40, 0, 0.20, 0.98) 0.3s;
}

.activities__line.is-show {
  transform: scaleX(1);
}

.activities__title {
  font-family: var(--main-font);
  font-size: 3.2rem;
  font-style: italic;
  letter-spacing: 0.05em;
}

.activities__description {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 1.3rem;
  line-height: 2.53;
  transition-delay: 0.5s;
}

.activities__image{
  display: inline;
}

.activities__image {
  width: 85%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.activities__image video{
  width: 100%;
}

.activities__image.is-show{
  opacity: 1;
}

.activities__image img {
  transform: scale(1.2);
  transition: transform 1.2s ease;
}

.activities__image.is-show img {
  transform: scale(1);
}

.activities__button-text {
  color: var(--black);
  margin-right: 16px;
}

@media (min-width: 768px) {
  .activities {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  .activities__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .activities__list {
    margin-left: 0%;
  }

  .activities__item {
    margin-bottom: 160px;
  }

  .activities__item:last-of-type {
    margin-bottom: 0px;
  }

  .activities__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .activities__content[data-align="left"] {
    flex-direction: row-reverse;
  }
  
  .activities__image {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }

  .activities__text {
    flex: 1;
  }

  .activities__sub-heading {
    padding-bottom: 24px;
  }

  .activities__title {
    font-size: 6.0rem;
    letter-spacing: 0.05em;
  }

  .activities__description {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 2.57;
  }

  .activities__button-text {
    margin-right: 40px;
  }
}

/* skills */
.skills {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: var(--dark-gray);
  color: var(--white);
}

.skills__inner {
  padding-inline: 30px;
  height: 600px;
}

.skills__wrapper {
  transform-origin: top left;
  transform: scale(0.3);
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(3, 90vw);
  row-gap: 8em;
}

.each__skills {
  position: relative;
  width: 200px;
  height: 240px;
  padding: 2rem;
  margin: 1rem;
  background-color: var(--gray);
  justify-self: center;
  box-shadow: 10px 5px 5px #222;
}

.skills-logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills-logo img {
  width: 50px;
  height: 50px;
}

.skills-progress {
  transform-origin: center;
  transition-duration: 800ms;
}

.skills-progress.is-show {
  transform: rotate(270deg);
}

.skills__sub-heading {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .skills__wrapper {
    transform: scale(0.6);
  }
  
  .skills__container {
    grid-template-columns: repeat(6, 25vw);
  }

  .skills {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .skills__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

}


/* works */
.works {
  padding-top: 70px;
  padding-bottom: 90px;
}

.works__inner {
  padding-inline: 30px;
}

.works-list__item {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.6s, transform 0.8s;
  transition-timing-function: ease;
}

.works-list__item:first-of-type {
  transition-delay: 0s;
}

.works-list__item:nth-of-type(2) {
  transition-delay: 0.2s;
}

.works-list__item:nth-of-type(3) {
  transition-delay: 0.4s;
}

.works-list__item:nth-of-type(4) {
  transition-delay: 0.6s;
}

.works-list__item:nth-of-type(5) {
  transition-delay: 0.8s;
}

.works-list__item:last-of-type {
  transition-delay: 1.0s;
}

.works-list.is-show .works-list__item {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .works {
    padding-top: 110px;
    padding-bottom: 150px;
  }

  .works__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }
}


/* contact */
.contact {
  padding-bottom: 36px;
}

.contact__title {
  margin-bottom: 14px;
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--sub-font);
  letter-spacing: 0.05em;
}

.contact__mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__link {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: var(--main-font);
}

.sns-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.sns-list__item {
  display: inline;
  margin: 0.5em;
}

@media (min-width: 768px) {
  .contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact__inner {
    margin-inline: auto;
    padding-inline: 40px;
    max-width: 1160px;
  }

  .contact__title {
    margin-bottom: 28px;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
  }

  .contact__link {
    color: var(--gray);
    font-size: min(4vw, 6.0rem);
    transition-duration: 800ms;
  }

  .contact__link:hover {
    color: var(--white);
  }

}
